*log
*out
*toc
*aux
*dvi
*swp
*html
*dvi
*ps
*aux
*log
*out
*toc
*tpt
*epub
*x.png
*4ct
*4tc
*aux
*css
*dvi
*html
*idv
*lg
*ncx
*html
*tmp
*xref
*opf
*-epub
*pdf
book_parts.tex
uhimi_ch1.tex
uhimi_ch2.tex
uhimi_ch3.tex
uhimi_ch4.tex
uhimi_ch5.tex
fuyuyu_ch1.tex
fuyuyu_ch2.tex
fuyuyu_ch3.tex
fuyuyu_ch4.tex
fuyuyu_ch5.tex
kakumi_ch1.tex
kakumi_ch2.tex
kakumi_ch3.tex
kakumi_ch4.tex
kakumi_ch5.tex
epub_images/
images/
*.svg
